@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    this is the first view in our system

    <a href="/Home/Default">Navigate to view</a>
</div>
